.seg-point {
  cursor: pointer;
}

.grabbable {
  cursor: move;
  cursor: grab;
}

.grabbable:active {
  cursor: grabbing;
}

.grabbable+.move-icon, .grabbable+.rot-icon {
  opacity: 0.4;
}

.grabbable:hover+.move-icon, .grabbable:hover+.rot-icon, .rot-icon:hover {
  opacity: 0.9;
}

.class-names {
  user-select: none;
}